/***** header/nav rules *****/

header {
  background-color: lightgray;
  margin-bottom: 40px;
}

.logo {
  color: black;
  font-family: cursive, "Times New Roman";
  font-size: 72px;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

@media all and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 14px 0 14px 20px;
    padding-top: 0;
    font-size: 42px;
  }
  
  header nav {
    margin-top: 14px;
  }
}

/***** main rules *****/
main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}

h2 {
  margin-left: 10px;
}
.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

img {
  width: 100%;
  border-radius: 20px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background: url(images/background.png);
  background-size: cover;
}

.links li {
  list-style-type: none;
}

.item ul li a {
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

/* Contact Form Design */

form {
  padding-right: 8px;
  /* Fixed small sizing issue on the right */
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

/* Link Colors */
a:link {
  color: darkblue;
}
a:visited {
  color: teal;
}
a:hover {
  color: blueviolet;
}
a:active {
  color: white;
}

/***** footer rules *****/
footer {
  background-color: lightgray;
  text-align: center;
}

footer div {
  padding: 20px;
}

footer a {
  text-decoration: none;
  margin: 20px 20px;
  padding-top: 20px
}



/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}